@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--n));
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--p));
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--pf));
  }
}
